.custom-main-nav{
    margin-right: 2.2rem;
}
.cart-dropdown .dropdown-toggle {
    padding-right: 1.3rem;
}
.cart-dropdown .dropdown-toggle .cart-count {
    right: 0.5rem;
}
.cart-dropdown .dropdown-toggle::after {
    content: '';
}
.active-noti{
    background: aliceblue;
}
.notification{
    /*background-color: #2AA0C6;*/
    /*width: -webkit-fill-available;*/
    /*height: 575px;*/
    border-radius: 10px;
    /*margin-top: 18px;*/
}
.notification .dropdown-cart-products .item{
    background: transparent;
    color: #696969;
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    margin: 0;
    padding: 1.2rem 1.5rem;
    border-radius: 0;
    border-bottom: 1px solid aliceblue;
    font-weight: 500;
    font-size: small;
    line-height: 1.5;
}
.notification .dropdown-cart-products .date{
    font-size: x-small;
}
.custom-red-btn{
    background-color: #ed7e63;
    color: #fff;
    border-color: #ed7e63;
}
.cart-dropdown:checked .dropdown-menu{
    opacity:1;
    visibility:visible
}
.cart-dropdown .dropdown-toggle1::before {
    display: inline-block;
    /*content: '\01F514';*/
    content: '\f0f3';
    font-family: 'FontAwesome';
    font-size: 2.3rem;
    line-height: 1;
    margin: 2px 0 0;
}
/*.cart-dropdown .dropdown-toggle1::after {
    display: inline-block;
    content: '\e81c';
    font-family: 'porto';
    font-size: 1.4rem;
    position: absolute;
    right: 0;
    top: 1rem;
    width: auto;
    margin: 0;
    height: auto;
    color: #646a70;
    margin: 0;
    border: 0;
    line-height: 1;
    transition: all .3s;
}*/
.cart-dropdown .dropdown-toggle1 .cart-count1 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    right: -1rem;
    line-height: 1;
    top: -.1rem;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    background-color: #ed7e63;
}
.custom-main{
    min-height: 100vh;
}
.undread-msg-count{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1.6rem;
    height: 1.6rem;
    position: inherit;
    font-size: 1rem;
    border-radius: 50%;
    font-weight: 600;
    color: #fff;
    background-color: #ed7e63;
}
.noti-count{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    right: 0rem;
    line-height: 1;
    top: 1rem;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    background-color: #ed7e63;
}
.dashboad-envelope{
    font-size: x-large;
    color: #007FCF;
}
.center-align {
    margin: 0 auto;
    width: 50%;
}
.blur-img{
    /*filter: blur(2px);*/
    -webkit-filter: blur(5px);
}
.cus-upload-form{
    margin: 0px !important;
    float: right !important;
}
.custom-pagination{
    margin: -20px 0px 20px 0px; 
    float: right;
}
.margin-bottom-20 {
    margin-bottom: 20px !important;
}
.display-inline-block {
    display: inline-block !important;
}
.margin-zero {
    margin: 0 !important;
}
.gallery-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
}
.upload-banner-btn{    
    display: inline-block;
    padding: 10px;
}
.portfolio-video-heading{
    color: aliceblue;
    margin: 20px;
}
.portfolio-collab-div{
    float: right;
    padding: 25px;
    font-size: large;
}
.about-talent {
    font-weight: bold;
    font-size: large;
}
.collab-div {
    display: flex;
    font-size: inherit;
}
.collab-star {
    height: 17px;
}
.portfolio-collab-star {
    height: 15px;
}
.custom-footer{
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.header-search .header-search-wrapper {
    right: auto;
}
.header-search .header-search-wrapper::before {
    right: auto;
}
.search-custom-margin{
    margin: 0 0 2px; 
}
.margin-bottom-auto {
    margin-bottom: auto;    
}
.login-signup-btn-padding{
    padding: 0 23px;
}
.login-signup-btn{
    border-color: #29363c !important;
    background-color: #29363c !important;
    color: #fff !important;
    padding: 23px 20px !important;
    float: right !important;
}
.product-promote-btn{
    color: #6a6a6d;
    font-family: "Oswald",sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    padding: .85rem .5rem;
    min-width: 108px;
    z-index: 2;
    transition-duration: 0s;
    cursor: pointer;
    background-color: #fff;
}
.product-promote-btn:hover {
    border-color: #2b2b2c;
    background-color: #2b2b2c;
    color: #fff !important;    
}
.float-right{
    float: right !important;
}
.display-contents{
    display: contents;   
}
.talent-number{
    font-weight: 600;
    color: drakgray;
}
.title-calendar {
    text-align: left;
    font-weight: 600;
    color: aliceblue;
    padding-left: 10px;
}
.title-chart {
    color: aliceblue;
    padding: 10px;
}
.bg-teal-gradient {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #39CCCC), color-stop(1, #7adddd)) !important;
    color: #fff;
    width: 95%;
    margin: 0 auto;
    border-radius: 10px;
}
.bg-teal-gradient1 {
    background: #DBE33E;
    color: #fff;
    width: 95%;
    margin: 10px auto;
    border-radius: 10px;
    padding-top: 10px;
}
.bg-teal-gradient2 {
    background: #00C66B;
    color: #fff;
    width: 95%;
    height: auto;
    margin: 10px auto;
    border-radius: 10px;
    padding-top: 10px;
    text-align: center;
}
.dashboard-rightbar-1 .item{
    background: transparent;
    color: aliceblue;
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    margin: 0;
    padding: 1.2rem 1.5rem;
    border-radius: 0;
    border-bottom: 1px solid aliceblue;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
}
.dashboard-rightbar-1 .item .number {
    color: aliceblue;
    font-weight: 700;
    display: inline-block;
    margin-top: .1rem;
    float: right;
    font-size: 1.3rem;
    text-transform: capitalize;
}
.dashboard-rightbar-1{
    background-color: #9E97F6;
    width: -webkit-fill-available;
    height: 575px;
    border-radius: 10px;
}
.dashboard-rightbar-2{
    background-color: #2AA0C6;
    width: -webkit-fill-available;
    height: 575px;
    border-radius: 10px;
    margin-top: 18px;
}
.dashboard-rightbar-2 .item{
    background: transparent;
    color: aliceblue;
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    margin: 0;
    padding: 1.2rem 1.5rem;
    border-radius: 0;
    border-bottom: 1px solid aliceblue;
    font-weight: 500;
    font-size: small;
    line-height: 1.5;
}
.dashboard-rightbar-2 .item .number {
    color: aliceblue;
    font-weight: 700;
    display: inline-block;
    margin-top: .1rem;
    float: right;
    font-size: 1.3rem;
    text-transform: capitalize;
}
.box-header-rightbar-2{
    color: aliceblue;
    font-size: 2.4rem;
    font-weight: bold;
    padding: 1.2rem 1.5rem;
    border-radius: 0;
    border-bottom: 1px solid aliceblue;
}
.dashboard-container {
    padding: 20px;    
}
.dashboard-info-box{
    font-size: 2rem;
    text-align: center;
    display: block;
    min-height: 90px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-bottom: 15px;
    background: #F4F4F2;
}
.dashboard-icon{
    font-size: 4rem;
    margin-top: 10px;
    color: #43C8F3 !important;
}
.info-box-text{
    text-transform: uppercase;
    display: block;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sidemenu-intro {
    background: #F9F9FB;
    max-width: 85%;
    text-align: center;
    margin: 7% auto 1% auto;
    padding: 10px 0 2px 0;
    border-radius: 15px;
    border: solid lightgray;
    line-height: normal;
}
.sidemenu-profile-img{
    border-radius: 50%;
    margin: 0 auto 20px;
    height: 150px;
    width: 150px;
    object-fit: cover;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
}
.sidemenu-profile-name{
    font-size: larger;
    font-weight: bold;
    color: #29343A;
    display: block;
}
.sidemenu-profile-profession{
    font-size: small;
    font-weight: 600;
    color: #3EB655;
    display: block;
}
.sidemenu-profile-country{
    font-weight: 600;
    color: #29343A;
}
.portfolio-star{
    font-size: 18px;
}
.portfolio-filled-star{
    color: #EECD48;
}
.portfolio-hr{
    border-top: 2px solid #29343A;
}
.portfolio-subtitle{
    color: #29373A;
}
.portfolio-video {
    background: #29373A;
    max-height: -webkit-fill-available;
}

.port-intro-talent{
    font-size: large;
    font-weight: bold;
    color: #29343A;
    display:inline-block;
    border-bottom:1px solid #EECD48;
    padding-bottom:2px;
    display: block;
    width: fit-content;
    margin: 0 auto;
}
.port-intro-name{
    font-size: large;
    font-weight: bold;
    color: #29343A;
    display: block;
}
.port-intro-rating{
    font-size: larger;
    font-weight: 600;
    color: #29343A;
    display: block;
}
.fan-btn {
    font-weight: bold;
    color: #fff;
    background: #EECD48;
    border-radius: 7px;
    border: aliceblue;
}
.contact-me-btn {
    font-weight: bold;
    color: #fff;
    background: #5C65D3;
    border-radius: 7px;
    border: aliceblue;
}
.portfolio-intro {
    background: #F9F9FB;
    max-width: 25%;
    max-height: -webkit-fill-available;
    text-align: center;
    margin: 0% auto 0% auto;
    padding: 20px 0 20px 0;
    border-radius: 15px;
    border: solid lightgray;
}
.portfolio-profile-img{
    border-radius: 50%;
    position: absolute; 
    margin: 4% auto;
    left: 43%;
    max-width: 200px !important;
    max-height: 200px !important;
    object-fit: cover;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
    z-index: 1; 
}
.font-weight{
    font-weight: bold !important;
}
.color-green{
    color: green !important;
}
.flash-heading-success{
    color: green;
    font-size: x-large;
    font-weight: bold;
    margin: 20px 0 20px 0;
}
.flash-heading-error{
    color: red;
    font-size: x-large;
    font-weight: bold;
    margin: 20px 0 20px 0;
}
.flash-message{
    color: #444;
    font-size: 1.7rem !important;
    line-height: 1.4;
}
.center {
    margin: 0 auto;
}
.cart-form{
    margin-bottom: 0rem !important;
}
.custom-yellow-header{
    background: #e7e761 !important;
}
.signup-btn {
    background: #ffff01;
    color: #000001;
    margin: 0 2% 0 0;
    border-radius: 10px;
    border-color: transparent;
    font-weight: bold;
    font-size: initial;
    line-height: 1;
    min-width: 100px;
}
.custom-home-btn{
    color: #484343 !important;
}
.sticky-header.fixed{
    background: #e7e761 !important;
    /*padding: 1.2rem 0 !important;*/
}
.sticky-header.fixed .menu>li>div>a {
    padding-top: .55rem;
    padding-bottom: .55rem;
}
.header-search .search-toggle {
    padding: 1.7rem 0;
    line-height: 1.6;
}
.spotlight-header{
    width: auto;
    padding: 1.5em;
}

.spotlight-profile-img{
    border-radius: 50%;
    margin:10px auto 20px;
    height: 150px;
    width: 150px;
    object-fit: cover;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
}

.align-center{
    margin: 0 auto;
    text-align: center;
}

.spotlight-main{
    background: #fff !important;
    text-align: center;
}
.header-right{
    color: #484343 !important;
}
.menu-gray{
    color: #646a70 !important;
}
.dropdown-toggle{
    color: #646a70 !important;
}
/*Profile Card CSS start
.profile-card-3 {
    font-family: 'Open Sans', Arial, sans-serif;
    position: relative;
    float: left;
    overflow: hidden;
    width: 100%;
    text-align: center;
    height:368px;
    border-radius: 8px;
}
.profile-card-3 .background-block {
    float: left;
    width: 100%;
    height: 200px;
    /*overflow: hidden;*/
/* } */
.background {
    width: 100%;
    height: 200px;
    object-fit:cover;
}
.background-block{
    background-color: #ccc;
}
.profile-card-3 .card-content {
    width: 100%;
    padding: 15px 25px;
    color:#232323;
    float:left;
    background:#fff;
    height:50%;
    border-radius:0 0 5px 5px;
    position: relative;
    /*z-index: 9999;*/
}
.profile-card-3 .card-content::before {
    content: '';
    background: #efefef;
    width: 120%;
    height: 100%;
    left: 11px;
    bottom: 51px;
    position: absolute;
    z-index: -1;
    /*transform: rotate(-13deg);*/
}
.profile-card-3 .profile {
    border-radius: 50%;
    position: relative;
    bottom: 50%;
    left: 50%;
    max-width: 100px;
    opacity: 1;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 1);
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    z-index:1;
}
.profile-card-3 h2 {
    margin: 0 0;
    font-weight: 600;
    font-size: 16px;
}
/* .profile-card-3 h4 {
    margin: 20% 0 0;
    font-weight: 500;
    font-size: 20px;
    font-weight: bold; 
} */
.fan {
    display: block;
    font-size: 1.5rem;
    margin-top: 2%;
    color: orange;
}
.profile-card-3 i {
    display: inline-block;
    font-size: 16px;
    color: #232323;
    text-align: center;
    border: 1px solid #232323;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile-card-3 .icon-block{
    float:left;
    width:100%;
    margin-top:15px;
}
.profile-card-3 .icon-block a{
    text-decoration:none;
}
.profile-card-3 i:hover {
    background-color:#232323;
    color:#fff;
    text-decoration:none;
}
/*Profile Card CSS end*/

/*Plan Subscription CSS start*/
.plan-main{ background: #fff; }
.pricingTable{
    background: #fff;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease 0s;
    border: solid whitesmoke;
}
.pricingTable:hover{ box-shadow: 0 0 5px rgba(0,0,0,0.8) inset, 0 0 10px rgba(0,0,0,0.8); }
.pricingTable svg{
    display: block;
    margin-left: -1px;
}
.pricingTable .pricing-content{
    /*padding: 50px 0 30px;*/
    position: relative;
    overflow: hidden;
}
.pricingTable .title{
    font-size: 27px;
    font-weight: 600;
    color: #ae003d;
    text-transform: uppercase;
    margin: 0 0 10px 0;
}
.pricingTable .pricing-content ul{
    padding: 0 0 0 40px;
    margin: 0 0 30px 0;
    list-style: none;
    max-height: 300px;
    overflow-y: scroll;
    width: 99%;
    text-align: left; 
}
.pricingTable .pricing-content ul li{
    font-size: 15px;
    font-weight: 500;
    color: rgb(105,105,105);
    line-height: 40px;
    text-transform: capitalize;
}
.pricingTable .pricing-content ul li::before {
    content: "\2022";
    color: #e7e761;
    font-weight: bold;
    font-size: 20px;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}
.pricingTable .pricingTable-signup{
    display: inline-block;
    padding: 8px 50px;
    background: #ae003d;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    transition: all 0.3s ease 0s;
}
.pricingTable:hover .pricingTable-signup{ box-shadow: 0 0 10px #ae003d; }
.pricingTable .pricingTable-signup:hover{
    color: #ae003d;
    background: #fff;
    box-shadow: 0 0 10px #ae003d, 0 0 10px #000 inset;
}
.pricingTable.blue .title{ color: #005c99; }
.pricingTable.blue .pricingTable-signup{ background: #005c99; }
.pricingTable.blue:hover .pricingTable-signup{ box-shadow: 0 0 10px #005c99; }
.pricingTable.blue .pricingTable-signup:hover{
    color: #005c99;
    background: #fff;
    box-shadow:0 0 10px #005c99, 0 0 10px #000 inset;
}
.pricingTable.green .title{ color: green; }
.pricingTable.green .pricingTable-signup{ background: green; }
.pricingTable.green:hover .pricingTable-signup{ box-shadow: 0 0 10px green; }
.pricingTable.green .pricingTable-signup:hover{
    color: green;
    background: #fff;
    box-shadow:0 0 10px green, 0 0 10px #000 inset;
}
.pricingTable.red .title{ color: #db2c29; }
.pricingTable.red .pricingTable-signup{ background: #db2c29; }
.pricingTable.red:hover .pricingTable-signup{ box-shadow: 0 0 10px #db2c29; }
.pricingTable.red .pricingTable-signup:hover{
    color: #db2c29;
    background: #fff;
    box-shadow:0 0 10px #db2c29, 0 0 10px #000 inset;
}

.custom-icon-hide {
    display: none;
}

.show-on-custom-link:hover .custom-icon-hide {
    display: block;
}

.container-custom-upload {
    position: relative;
}

.btn-custom-upload {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #ffc107;
    color: white;
    font-size: 10px;
    padding: 4px 8px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

@media only screen and (max-width: 990px){
    .pricingTable{ margin-bottom: 30px; }
}
/*Plan Subscription CSS end*/


button {
    border: 0;
    font-weight: 500;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

#form-container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.third {
    float: left;
    width: calc((100% - 32px) / 3);
    padding: 0;
    margin: 0 16px 16px 0;
}

.third:last-of-type {
    margin-right: 0;
}

/* Define how SqPaymentForm iframes should look */
.sq-input {
    height: 56px;
    box-sizing: border-box;
    border: 1px solid #E0E2E3;
    background-color: white;
    border-radius: 6px;
    -webkit-transition: border-color .2s ease-in-out;
    -moz-transition: border-color .2s ease-in-out;
    -ms-transition: border-color .2s ease-in-out;
    transition: border-color .2s ease-in-out;
}

/* Define how SqPaymentForm iframes should look when they have focus */
.sq-input--focus {
    border: 1px solid #4A90E2;
}

/* Define how SqPaymentForm iframes should look when they contain invalid values */
.sq-input--error {
    border: 1px solid #E02F2F;
}

#sq-card-number {
    margin-bottom: 16px;
}

/* Customize the "Pay with Credit Card" button */
.button-credit-card {
    width: 100%;
    height: 56px;
    margin-top: 10px;
    background: #4A90E2;
    border-radius: 6px;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    -webkit-transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    -ms-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
}

.button-credit-card:hover {
    background-color: #4281CB;
}


.loader_payment {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #ffc107;
    border-bottom: 16px solid #ffc107;
    width: 120px;
    height: 120px;
    margin : 200px auto;
    display:none;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

.loader_payment_card {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #ffc107;
    border-bottom: 16px solid #ffc107;
    width: 120px;
    height: 120px;
    margin : 50px auto;
    display:none;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* width */
.pricing-content ::-webkit-scrollbar {
    width: 15px;
}

/* Track */
.pricing-content ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 15px;
}

/* Handle */
.pricing-content ::-webkit-scrollbar-thumb {
    background: #e7e761; 
    border-radius: 10px;
}

/* Handle on hover */
.pricing-content ::-webkit-scrollbar-thumb:hover {
    background: #fcca03 ;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

/* The container */
.label-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.label-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.label-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.label-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.label-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.label-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.alignleftpay {
    float: left;
}
.alignrightpay {
    float: right;
}

.label-width {
    width: 100%;
}

/*-- Image Viewer CSS --*/

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
    flex-direction: row;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
    margin: 0 auto;
}

.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev1,
.next1 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev1:hover,
.next1:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

img {
    margin-bottom: -4px;
}

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*404 Not found page css*/

#notfound {
    position: relative;
    height: 100vh;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notfound {
    max-width: 520px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
}

.notfound .notfound-404 {
    position: relative;
    height: 240px;
}

.notfound .notfound-404 h1 {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 252px;
    font-weight: 900;
    margin: 0px;
    color: #262626;
    text-transform: uppercase;
    letter-spacing: -40px;
    margin-left: -20px;
}

.notfound .notfound-404 h1>span {
    text-shadow: -8px 0px 0px #fff;
}

.notfound .notfound-404 h3 {
    font-family: 'Cabin', sans-serif;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #262626;
    margin: 0px;
    letter-spacing: 3px;
    padding-left: 6px;
}

.notfound h2 {
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000;
    margin-top: 0px;
    margin-bottom: 25px;
}

@media only screen and (max-width: 767px) {
    .notfound .notfound-404 {
        height: 200px;
    }
    .notfound .notfound-404 h1 {
        font-size: 200px;
    }
}

@media only screen and (max-width: 480px) {
    .notfound .notfound-404 {
        height: 162px;
    }
    .notfound .notfound-404 h1 {
        font-size: 162px;
        height: 150px;
        line-height: 162px;
    }
    .notfound h2 {
        font-size: 16px;
    }
}

/*Tree CSS*/

ul, #treeUL {
    list-style-type: none !important;
}

#treeUL {
}

.treebox {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

.treebox::before {
    content: "\2610";
    color: #ed7e63 !important;
    display: inline-block !important;
    margin-right: 6px !important;
    font-size: large;
}

.treecheck-box::before {
    content: "\2611" !important; 
    color: #ed7e63 !important;
    font-size: large;
}

.treenested {
    display: none !important;
}

.treeactive {
    display: block !important;
}

.treecaret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}

.treecaret::before {
    content: "\25B6";
    color: #ed7e63 !important;
    display: inline-block;
    margin-right: 6px;
    font-size: large;
}
/*Tree CSS End*/

.menucaret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}

.menucaret::before {
    content: '';
    color: black;
    display: inline-block;
    margin-right: 6px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #333;
}
.menucaret-down::before {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);  
}
